---
title: Chris Muccioli - Art Direction & Design
layout: default
description: "Chris Muccioli - Multi-disciplinary designer based in Brooklyn, NY."
---



      <div class="clearfix content">
          <div class="row intro fade-in">
            <div class="col sm-col-12 lg-col-10 ">
              <div class="center-content">
                <h1 class="pb3">Chris Muccioli is a multi-disciplinary designer based <span class="no-wrap">& art director</span> in Brooklyn, NY.</h1>
                <h2>He is a co-founder and creative director of quarterly record club & music journal <a href="http://www.singlesclub.fm" target="_blank">Singles Club</a>. Previously he led design at <a href="http://www.jukely.com" target="_blank">Jukely</a> & has worked with the fine folks at  <a href="http://www.kickstarter.com" target="_blank">Kickstarter</a>,  <a href="http://www.160over90.com" target="_blank">160over90</a>, <span class="no-wrap">&  <a href="http://www.posttypography.com" target="_blank">Post Typography</span></a>. <span class="bold">Currently available for new projects.</span></h2>
              </div>
            </div>
          </div>
          <!--Project Start-->
              <div class="index-project fade-in">
                <a href="projects/jukely/">
                  <div class="project-container">
                    <div class="project-outer">
                      <div class="project-inner">
                        <div class="project-block" style="background: url('images/jukely-app-home-2-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;">
                          <div class="project-slide-link">
                            <ul class="slides">
                              <li><div class="slide" style="background: url('images/jukely-logo-projection-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-jukely-members-only-3-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/jukely-typeface-chrismuccioli.png') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Jukely</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Creative Direction, Branding, <span class="no-wrap">Product Design</span></h4>
                  </div>
                  <a href="/projects/jukely/">
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                  </a>
                </div>
              </div>
          <!--Project End-->
          <!--Project Start-->
              <div class="index-project">
                  <a href="projects/singles-club/">
                  <div class="project-container">
                    <div class="project-outer">
                      <div class="project-inner">
                        <div class="project-block" style="background: url('images/singles-club-pin-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;">

                          <div class="project-slide-link">
                            <ul class="slides">
                              <li><div class="slide" style="background: url('images/hp-singles-club-record-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-singles-club-releases-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-singles-club-issue-1-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                                      </a>
                  </div>

                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Singles Club</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Creative Direction, Identity, Editorial Photography, Packaging Design, <span class="no-wrap">Product Design</span></h4>
                  </div>
                  <a href="/projects/singles-club/">
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                  </a>
                </div>
              </div>
          <!--Project End-->
          <!--Project Start-->
              <div class="index-project">
                                          <a href="projects/special/">
                  <div class="project-container">
                    <div class="project-outer">
                      <div class="project-inner">
                        <div class="project-block" style="background: url('images/special-cardpile-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;">

                          <div class="project-slide-link">
                            <ul class="slides">
                              <li><div class="slide" style="background: url('images/hp-special-street-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-special-cards-notebook-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-special-street-model-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>
                                              </a>
                  </div>
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Special*</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Identity</h4>
                  </div>
                  <a href="/projects/special/">
                    <div class="view-project">
                      <h6 class="">View full Project</h6>
                      {% include _long-arrow-right.html %}
                    </div>
                  </a>
                </div>
              </div>
          <!--Project End-->
          <!--Project Start-->
              <div class="index-project">
                                          <a href="projects/various-music/">
                  <div class="project-container">
                    <div class="project-outer">
                      <div class="project-inner">
                        <div class="project-block" style="background: url('images/lands-and-peoples-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;">

                          <div class="project-slide-link">
                            <ul class="slides">
                              <li><div class="slide" style="background: url('images/secretmountains-rainer-detail-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/jukely-umo-poster-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/lands-and-peoples-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                                              </a>
                  </div>
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Music Promo/Packaging</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Art Direction, Packaging Design</h4>
                  </div>
                  <a href="/projects/various-music/">
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                  </a>
                </div>
              </div>
          <!--Project End-->
          <!--Project Start-->
              <div class="index-project">
                                          <a href="projects/lodge/">
                  <div class="project-container">
                    <div class="project-outer">
                      <div class="project-inner">
                        <div class="project-block" style="background: url('images/lodge-full-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;">

                          <div class="project-slide-link">
                            <ul class="slides">
                              <li><div class="slide" style="background: url('images/hp-lodge-everyday-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-lodge-full-2-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                              <li><div class="slide" style="background: url('images/hp-lodge-paste-chrismuccioli.jpg') no-repeat center center; background-size: 100%; background-size: cover;"></div></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                                              </a>
                  </div>
                <div class="index-project-description">
                  <div class="details">
                    <h6>Project</h6>
                    <h4>Lodge</h4>
                  </div>
                  <div class="details">
                    <h6>Role</h6>
                    <h4>Art Direction, Identity, <span class="no-wrap">Product Photography</span></h4>
                  </div>
                  <a href="/projects/lodge/">
                  <div class="view-project">
                    <h6 class="">View full Project</h6>
                    {% include _long-arrow-right.html %}
                  </div>
                  </a>
                </div>
              </div>
          <!--Project End-->
      </div>
