<!doctype html>
<!--

Designed & Built by Chris Muccioli
Let's make something together.

-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="record club, vinyl, records, music, indie, lp">
  <meta name="author" content="Chris Muccioli">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500" rel="stylesheet">
  <meta property="og:url"              content="{{ site.url }}/{{ page.route }}" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Chris Muccioli" />
  <meta property="og:description"        content="Multi-disciplinary designer & art director based in Brooklyn, NY." />
  <meta property="og:image"              content="http://www.chrismuccioli.com/images/jukely-app-home-2-chrismuccioli.jpg" />


</head>
